{{#each schedule as |schedule|}}

<div class="card profile-meal-card col-xs-12 col-sm-4">
  <img class="card-img-top" src= {{schedule.recipe.image}} alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">{{schedule.recipe.title}}</h4>
    <p class="card-text">5 points</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> {{cook/cook-start
                                    schedule=schedule
                                    cook='cook'
                                  }}
    </li>
    {{#if schedule.favorite}}
    <li class="list-group-item aria-hidden="true>Favorite: {{schedule.favorite}}</li>
    {{else}}
    <li class="list-group-item">{{favorite-meal
                                  schedule=schedule
                                  favoriteMeal="favoriteMeal"
                                }}
    </li>
    {{/if}}

    <li class="list-group-item">Completed: {{schedule.complete}}</li>
    {{#if schedule.complete}}

    {{else}}
    <li class="list-group-item">{{delete-schedule
                                  schedule=schedule
                                  deleteSchedule="deleteSchedule"
                                }}
    </li>
    {{/if}}

  </ul>
</div>
{{/each}}
