<div class="jumbotron">
  <h1>Coook Book!</h1>
  <p></p>
  {{#if isAuthenticated}}
  <h3>Hi, {{profile.given_name}}</h3>
  {{else}}
  <p>{{#link-to "sign-up"}}<a class="btn btn-primary btn-lg" href="#" role="button">Sign Up!</a>{{/link-to}}</p>
  {{/if}}
</div>
<nav class="navbar">
  <div class="container-fluid">
    {{navbar-header}}
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        {{#if isAuthenticated}}

        <li>{{#link-to "schedules"}}Watchlist{{/link-to}}</li>
        {{/if}}
        <li>{{#link-to "recipes"}}Recipes{{/link-to}}</li>
        {{#if isChef}}
          <li>{{#link-to "chef"}}Chef{{/link-to}}</li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if isAuthenticated}}
        <li>{{#link-to "profiles"}}Profile{{/link-to}}</li>
        <li><a href="#" {{action "signOut"}}>Sign Out</a></li>
        {{else}}
        <li>{{#link-to "sign-up"}}Sign Up{{/link-to}}</li>
        <li>{{#link-to "sign-in"}}Sign In{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>


{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

<div class="col-md-8 col-md-offset-2">

</div>

{{outlet}}
