<div>
 <!-- required for floating -->
  <!-- Nav tabs -->
  <ul class="nav nav-tabs tabs-left"><!-- 'tabs-right' for right tabs -->
    <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
    <li><a href="#profile" data-toggle="tab">Profile</a></li>
    <li><a href="#messages" data-toggle="tab">Messages</a></li>
    <li><a href="#settings" data-toggle="tab">Settings</a></li>
  </ul>

<div class="col-xs-9">
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="home">Home Tab.</div>
      <div class="tab-pane" id="profile">Profile Tab.</div>
      <div class="tab-pane" id="messages">Messages Tab.</div>
      <div class="tab-pane" id="settings">Settings Tab.</div>
    </div>
</div>
</div>

{{#each model as |profile|}}
<h2>Hi {{profile.given_name}}</h2>
{{profile/edit-profile profile=profile
                       edit='edit'
                                      }}
<ul>
    <li>{{profile.given_name}}</li>
    <li>You are a level: {{profile.level}} chef!
    </li>
  <h5>Watch List</h5>
        {{profile-meal recipe=profile.recipes
                        cook='cook'
        }}




</ul>
{{/each}}
