<div class="view-profiles">
{{#each model as |profile|}}
  <h3>How's it cooking {{profile.given_name}}?</h3>
  <h4>You have {{profile.points}} points</h4>
{{profile/edit-profile profile=profile
                       edit='editName'
                                      }}

<!-- {{profile/edit-picture profile=profile
                       editPicture='editPicture'
                                      }} -->


<ul>
    <img class="hat-icon" src="https://d30y9cdsu7xlg0.cloudfront.net/png/64861-200.png">
    <h2 class="score-status">You are a {{calculateLevel profile.level}}</h2>
    <li>{{#link-to "change-password"}}Change Password{{/link-to}}</li>
</ul>
{{/each}}

{{#each model.recipes as |recipe|}}
<p>{{recipe.id}}</p>
{{/each}}
</div>
