<h2>Profiles</h2>

<ul>
  {{#each model as |profile|}}
    <li>{{profile.id}}</li>
    <li>{{profile.given_name}}</li>
    <li>{{profile.level}}</li>
    <li>{{#each profile.recipes as |meal|}}
        <p>{{meal.title}}</p>
        {{/each}}
    </li>
    
    {{profile/edit-profile profile=profile
                           edit='edit'
                                          }}
    {{/each}}


    <!-- {{#each model as |profile|}}
      {{edit-profile-form profile=profile edit='edit' }}
    {{/each}} -->
</ul>
