
{{#each model as |profile|}}
<h2>Hi {{profile.given_name}}</h2>
{{profile/edit-profile profile=profile
                       edit='edit'
                                      }}
<ul>
    <li>{{profile.given_name}}</li>
    <li>You are a level: {{profile.level}} chef!
    </li>
    <li>You have {{profile.points}} points
    </li>
    <li>{{#link-to "change-password"}}Change Password{{/link-to}}</li>
  


</ul>
{{/each}}
