{{#each model as |profile|}}
<h2>Hi {{profile.given_name}}</h2>
{{profile/edit-profile profile=profile
                       edit='edit'
                                      }}
<ul>
    <li>{{profile.given_name}}</li>
    <li>You are a level: {{profile.level}} chef!
    </li>
    <li>{{#each profile.recipes as |meal|}}
        <p>{{meal.title}}</p>
        <h5>Your Meals</h5>
        {{profile-meal}}
        {{/each}}
        {{profile-meal recipe=profile.recipes}}
    </li>



</ul>
{{/each}}
