<div class='view-recipe'>
{{#link-to 'recipes'}}<button class='back btn btn-primary'> BACK </button>{{/link-to}}

<img class='view-recipe-image' src= {{model.image}}>
<h3>{{model.title}}</h3>
<p>{{model.time}}</p>
<p>{{model.ingredients}}</p>
<p>{{model.directions}}</p>
{{add-meal recipe=model add="add"}}
</div>
