<div class='view-recipe'>
<button class='back back-to-recipes'>{{#link-to 'recipes'}}Back{{/link-to}}</button>

<img class='view-recipe-image' src= {{model.image}}>
<h3>{{model.title}}</h3>
<p>{{model.time}}</p>
<p>{{model.ingredients}}</p>
<p>{{model.directions}}</p>
{{favorite-star recipes=model favorite="favorite"}}
{{add-meal recipe=model add="add"}}
</div>
